section.contactus.h-100
    .container.text-center.w-50.h-100
        form(action="" class="contact-form ")
            .row.g-3
                .col-12.col-lg-6
                    input(
                        type="text"
                        placeholder="Enter Your Name"
                        class="form-input"
                        ) 
                .col-12.col-lg-6
                    input(
                        type="text"
                        placeholder="Enter Email"
                        class="form-input"
                        ) 
                .col-12.col-lg-6
                    input(
                        type="text"
                        placeholder="Enter Phone"
                        class="form-input"
                        ) 
                .col-12.col-lg-6
                    input(
                        type="text"
                        placeholder="Enter Age"
                        class="form-input"
                        ) 
                .col-12.col-lg-6
                    input(
                        type="text"
                        placeholder="Enter Password"
                        class="form-input"
                        ) 
                .col-12.col-lg-6
                    input(
                        type="text"
                        placeholder="Enter RePassword"
                        class="form-input"
                        ) 
