section.search
    .container
        .row
            .col-6
                input(
                    type="text"
                    placeholder="Search By Name"
                    class="form-input"
                    id ="sName"
                    ) 
            .col-6
                input(
                    type="text"
                    placeholder="search By First Letter..."
                    class="form-input"
                    id ="sLetter"
                    ) 
        .row#search.g-3.py-5
            //- .col-3
            //-     .item
            //-         img(src='https://www.themealdb.com/images/media/meals/58oia61564916529.jpg' alt="")
            //-         p Ingredient name
            
                